* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Default */
.mr-5 {
    margin-right: 5px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.pd-0 {
    padding: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.w-100 {
    width: 100%;
}

.float-sm-left {
    float: left !important;
}

.float-sm-right {
    float: right !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

body {
    position: relative;
}

.header-wrapper {
    background: #108f7a;
}

#header {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left .logo-wrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.header-left .logo-wrap .logo-image {
    width: 50px;
    height: 50px;
}

.header-left .url-web {
    color: #fff;
    font-size: 1.5em;
    padding-left: 5px;
}

.header-right {
    display: flex;
}

.header-right .login-menu {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 10px;
    line-height: 58px;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 10;
}

.header-right .login-menu a {
    font-weight: 600;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.header-right .login-menu a:hover {
    color: rgba(255, 255, 255, 1);
}

.search-box {
    position: relative;
    min-width: 58px;
    width: 0;
    z-index: 25;
    height: 58px;
    float: right;
    -webkit-backface-visibility: hidden;
    max-width: 410px;
    transition: width 0.5s linear;
}

.search-box-input {
    position: absolute;
    top: 0;
    border: 0;
    outline: 0;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    line-height: 58px;
    opacity: 0;
    margin: 0;
    padding: 0 20px;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: 600;
    z-index: 20;
    max-width: 400px;
    right: 0;
    color: rgba(255, 255, 255, 0.5);
}

.search-box-icon, .search-box-submit {
    width: 58px;
    height: 58px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 58px;
    text-align: center;
    cursor: pointer;
    z-index: 30;
    background: rgba(255, 255, 255, 0.05);
    border: none;
    font-size: 18px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    -webkit-appearance: none;
    border-radius: 0;
}

.search-box-open .search-box-input {
    padding-right: 60px;
    width: 410px;
    opacity: 1;
    color: rgba(255, 255, 255, 1);
}

.search-box-icon:hover {
    color: rgba(255, 255, 255, 1);
}

.search-box-open .search-box-input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.search-box-open .search-box-icon .fa:before {
    content: "\f00d"!important;
}


.main {
    background-color: rgba(16, 143, 122, 0.15);
    padding-top: 30px;
}

.author-box-top {
    width: 100%;
    padding: 25px;
    text-align: center;
    background-color: #108f7a;
    color: #fff;
}

.profile-avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 90px;
    height: 90px;
    margin: 0 auto 10px;
}

.author-box-bottom {
    background: #ffffff;
    color: #b2b4bc;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    line-height: 27px;
}

.author-box-link {
    width: 100%;
    display: block;
    padding: 15px 0;
    color: inherit;
}

.author-box-link:hover {
    color: #108f7a;
}

.author-box-bottom strong {
    display: block;
    font-size: 20px;
    color: #5e7399;
}

.author-box-bottom span {
    color: inherit;
}

.widget_mts_author_box_widget, .widget_mts_featured_author_box_widget {
    padding: 0 !important;
}

.widget {
    margin: 0 auto 30px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ebebf3;
    background: #fff;
    border-radius: 5px;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 0 2px #F0F0F0;
    counter-reset: my-badass-counter;
    color: #91939c;
}

.widget .widget-title {
    font-weight: normal;
    font-size: 20px;
    color: #5e7399;
}

.widget li {
    border-top: 1px solid #f2f2f6;
    position: relative;
    cursor: pointer;
    transition: all 0.25s ease;
    margin: 0 -20px;
    padding: 0 20px;
    box-sizing: border-box;
}

.widget li a {
    transition: all 0.25s ease;
    padding: 10px 0;
    display: inline-block;
    font-weight: 600;
    color: inherit;
}

.widget ul li:hover {
    color: #108f7a;
    border-left: 1px solid #108f7a;
}

.social-profile-icons .social-profile-icons {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.social-profile-icons ul {
    margin: 0 -4px;
}

.social-profile-icons ul li {
    float: left;
    margin: 0 5px 10px 10px !important;
    padding: 0;
    border: none;
}

.social-profile-icons ul li a {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    transition: all .4s;
    padding: 0;
}

.social-profile-icons ul li:hover {
    border: none;
}

.social-profile-icons ul li i {
    font-size: 16px;
    line-height: 32px;
}

.social-profile-icons .social-facebook a {
    background: #5d82d1;
}

.social-profile-icons .social-behance a {
    background: #1879fd;
}

.social-profile-icons .social-flickr a {
    background: #ff48a3;
}

.social-profile-icons .social-gplus a {
    background: #eb5e4c;
}

.social-profile-icons .social-pinterest a {
    background: #e13138;
}

.social-profile-icons .social-instagram a {
    background: #91653f;
}

.social-profile-icons .social-linkedin a {
    background: #238cc8;
}

.social-profile-icons .social-twitter a {
    background: #40bff5;
}

.social-profile-icons .social-github a {
    background: #b5a470;
}

.social-profile-icons .social-youtube a {
    background: #c9322b;
}

.social-profile-icons .social-reddit a {
    background: #ff4400;
}

.social-profile-icons .social-dropbox a {
    background: #3476e4;
}

.social-profile-icons .social-skype a {
    background: #13c1f3;
}

.social-profile-icons .social-rss a {
    background: #ef922f;
}


.content .content-top ul li {
    width: 33.33%;
    display: inline-block;
    float: left;
    color: #91939c;
    background-color: #fff;
}

.content .content-top ul li:first-child {
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}

.content .content-top ul li:last-child {
    border-radius: 0 5px 5px 0;
    overflow: hidden;
}

.content .content-top ul .tab.active {
    background: #108f7a;
    color: #fff;
}

.content .content-top ul .tab.active .tab-link:hover {
    color: #fff;
    border: 1px solid #108f7a;
}

.content .content-top ul li .tab-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background: inherit;
    color: inherit;
    display: block;
    line-height: 1;
    padding: 14px 0 16px;
    text-align: center;
    border: 1px solid #e6e6f0;
    border-right: none;
    transition: all 0.25s ease;
}

.content .content-top ul li .tab-link:hover {
    color: #108f7a;
}

.content .content-top ul li .tab-link i {
    margin-right: 7px;
    font-size: 16px;
}

.content .create-post-box {
    border: 1px solid #e6e6f0;
    border-radius: 5px;
    background-color: #fff;
    margin: 30px 0;
    padding: 0 20px;
}

.content .create-post-box .create-post-header {
    border-bottom: 1px solid #e6e6f0;
    padding: 10px 0;
}

.content .create-post-box .create-post-title {
    padding-right: 0;
}

.content .create-post-box .autocomplete {
    position: relative;
    display: inline-block;
}

.content .create-post-box .autocomplete input {
    width: 100%;
    height: 32px;
    padding: 0 10px;
    border: 1px solid;
    border-radius: 5px;
    color: #878a94;
}

.content .create-post-box .autocomplete-items {
    position: absolute;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.content .create-post-box .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-top: none;
}

/*when hovering an item:*/
.content .create-post-box .autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.content .create-post-box .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.content .create-post-box .select-item:nth-child(2) {
    padding-right: 0;
}

.content .create-post-box .select-item select {
    width: 100%;
    height: 32px;
    padding: 0 5px;
    border: 1px solid;
    border-radius: 5px;
    color: #878a94;
}

.content .create-post-box .labelUpload {
    border: 1px solid #878a94;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    color: #6e6e6e;
    background-color: #d7d7d7;
}

.content .create-post-box .create-post-box-form {
    border-bottom: 1px solid #e6e6f0;
}

.content .create-post-box .create-post-title span {
    font-weight: normal;
    font-size: 18px;
    color: #5e7399;
}

.content .create-post-box .create-post__info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.content .create-post-box .create-post__info .author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.content .create-post-box .create-post__textarea textarea {
    width: 100%;
    height: 80px;
    resize: none;
    border: none;
    padding-top: 15px;
    outline: none;
}

.content .create-post-box .create-post__other-option {
    display: none;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6f0;
}

.content .create-post-box .create-post__submit {
    padding: 10px 0;
}

.content .create-post-box .create-post__submit .create-post__submit-btn {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgba(16,143, 122, 1);
    padding: 5px 0;
    border: none;
    border-radius: 5px;
}

.content .create-post-box .create-post__submit .create-post__submit-btn.disabled {
    background-color: rgba(16,143, 122, 0.5);
}

.content-post .post-item {
    background: #fff;
    padding: 0 20px;
    border: 1px solid #ebebf3;
    transition: all 0.25s ease;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

.content-post .post-item .post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    margin-left: -20px;
    margin-right: -20px;
    border-bottom: 1px solid #f2f2f6;
    background: #fdfdff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.post-item .post-info .post-info-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-item .post-info .author-image img {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.post-item .post-info .author-info .vcard a {
    color: #108f7a;
    transition: all 0.25s ease;
    font-size: 16px;
    font-weight: 600;
}

.post-item .post-info .the-time, .the-comment {
    color: #878a94;
}

.post-item .post-info .the-comment a {
    color: #878a94;
}

.post-item .post-info .the-comment a:hover {
    color: #108f7a;
}

.post-item .front-view-content {
    padding: 15px 0;
    color: #878a94;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.post-footer .the-category a{
    border: 1px solid #c9c9d3;
    padding: 10px 15px;
    display: inline-block;
    color: #878a94;
    border-radius: 5px;
    transition: all 0.25s ease;
    font-weight: 600;
    margin-right: 10px;
}

.post-footer .the-category a:hover{
    border: 1px solid #108f7a;
    color: #108f7a;
}

.post-footer .post-footer-right {
    display: flex;
}

.post-footer .post-footer-right .post-like .like-number {
    color: #878a94;
}

.post-footer .post-footer-right .post-like .like-button {
    line-height: 35px;
    width: 35px;
    border: 1px solid #c9c9d3;
    border-radius: 5px;
    display: inline-block;
    color: rgba(16,143, 122, 0.5);
    text-align: center;
    font-size: 20px;
    transition: all 0.25s ease;
}

.post-footer .post-footer-right .post-like .like-button:hover {
    border: 1px solid rgba(16,143, 122, 0.5);
    color: #fff;
    background-color: rgba(16,143, 122, 0.5);
}

.post-footer .view-all-content .view-all {
    line-height: 35px;
    width: 35px;
    border: 1px solid #c9c9d3;
    border-radius: 5px;
    display: block;
    color: #878a94;
    text-align: center;
    font-size: 20px;
    transition: all 0.25s ease;
}

.post-footer .view-all-content .view-all:hover {
    border: 1px solid rgba(16,143, 122, 0.5);
    color: #fff;
    background-color: rgba(16,143, 122, 0.5);
}

.post-footer .view-all-content.view-all-open .view-all i:before {
    content: "\f106" !important;
}

.post-comment .comment__input-wrap {
    align-items: center;
    margin-bottom: 10px;
}

.post-comment .comment__input {
    width: 90%;
    position: relative;
}

.post-comment .comment__input input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #c9c9d3;
    padding-left: 5px;
}

.post-comment .comment__input .comment__input-submit {
    position: absolute;
    top: 6px;
    right: 5px;
    z-index: 5;
    background-color: unset;
    border: none;
}

.post-comment .comment-item {
    display: flex;
}

.post-comment .comment-item .comment__avatar {
    width: 10%;
}

.post-comment .comment-item .comment__data {
    width: 90%;
}

.post-comment .comment-item .comment__name {
    color: #108f7a;
    font-weight: 600;
}

.post-comment .comment-item .comment__message {
    color: #878a94;
}

.load-posts {
    text-align: center;
    margin-bottom: 30px;
}

.load-posts a {
    font-size: 15px;
    font-weight: 600;
    color: #108f7a;
    text-transform: uppercase;
    background: #fff;
    line-height: 42px;
    padding: 0 25px;
    float: none;
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    transition: all 0.25s ease;
    border-radius: 5px;
    border: 1px solid #108f7a;
}

.load-posts a:hover {
    color: #fff;
    background-color: #108f7a;
}

.widget .mts-login-form p {
    margin: 20px 0;
}

.mts-login-form input {
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
    color: #b2b4bc;
    padding: 10px 12px;
    border: 1px solid #D8D8D8;
}

.mts-login-form input::placeholder {
    color: #b2b4bc;
}
.mts-login-form #login-submit {
    width: 100%;
    background-color: #108f7a;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff!important;
    border: none;
    -webkit-appearance: none;
}


.widget_mts_popular_posts_widget .horizontal-container-inner {
    display: flex;
    align-items: center;
}

.widget_mts_popular_posts_widget .horizontal-container-inner .post-img {
    margin-right: 15px;
}

.widget_mts_popular_posts_widget .horizontal-container-inner .post-data {
    max-height: 40px;
    overflow-y: hidden;
}

.widget_mts_popular_posts_widget .horizontal-container-inner .post-data a {
    padding: 0;
}

.footer-wrapper {
    padding: 10px 0;
    text-align: center;
}

.footer-wrapper .copyright{
    color: #b2b4bc;
    font-size: 12px;
}


/* Scroll Top */
#scroll-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10;
    padding: 10px 15px;
    background-color: rgba(16,143, 122, 0.5);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255,255, 255, 0.25);
    text-decoration: none;
}

#scroll-top:hover{
    background-color: rgba(16,143, 122, 0.8);
    transition: all 0.25s ease;
}

@media (max-width: 991px) {
    #scroll-top {
        bottom: 5vw;
        right: 5vw;
    }
}


@media (max-width: 767px) {
    .float-sm-left {
        float: none !important;
    }

    .float-sm-right {
        float: none !important;
    }

    .post-comment .comment-item .comment__avatar {
        width: 7%;
    }

    .post-comment .comment-item .comment__data {
        width: 93%;
    }
}

@media (max-width: 575px) {
    .only_pc {
        display: none;
    }

    #scroll-top {
        bottom: 20px;
        right: 15px;
        padding: 5px 10px;
    }

    #header {
        padding: 5px 0;
    }

    .header-left .logo-wrap {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }

    .header-left .logo-wrap .logo-image {
        width: 40px;
        height: 40px;
    }

    .header-left .url-web {
        display: none;
    }

    .header-right .login-menu {
        font-size: 13px;
        line-height: 40px;
    }

    .header-right .login-menu a {
        font-weight: 600;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.7);
    }

    .search-box {
        min-width: 40px;
        height: 40px;
    }

    .search-box-input {
        line-height: 40px;
        font-size: 13px;
    }

    .search-box-icon, .search-box-submit {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }


    .search-box-open .search-box-input {
        width: 240px;
    }

    .main {
        padding-top: 15px;
    }

    .author-box-top {
        padding: 15px;
    }

    .widget {
        margin: 0 auto 15px;
        padding: 0 15px;
    }

    .widget .widget-title {
        font-size: 18px;
    }

    .widget li {
        margin: 0 -15px;
        padding: 0 15px;
    }

    .social-profile-icons .social-profile-icons {
        width: 100%;
        margin-top: 15px;
    }

    .content .content-top ul li .tab-link {
        font-size: 12px;
        padding: 10px 0;
    }

    .content .content-top ul li .tab-link i {
        margin-right: 5px;
        font-size: 12px;
    }

    .content .create-post-box {
        margin: 15px 0;
        padding: 0 15px;
    }

    .content .create-post-box .create-post-title span {
        font-size: 16px;
    }

    .content .create-post-box .create-post__submit {
        padding: 5px 0;
    }

    .content .create-post-box .create-post__submit .create-post__submit-btn {
        font-size: 14px;
    }

    .content-post .post-item {
        padding: 0 15px;
        margin-bottom: 15px;
    }

    .content-post .post-item .post-info {
        padding: 10px 15px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .post-item .post-info .author-image img {
        margin-right: 10px;
    }

    .post-item .post-info .author-info .vcard a {
        font-size: 14px;
    }

    .post-item .post-info .author-info .the-time span {
        font-size: 12px;
    }

    .post-item .front-view-content {
        padding: 15px 0 10px;
    }

    .post-footer {
        margin-bottom: 10px;
    }

    .post-footer .the-category {
        width: 70%;
    }

    .post-footer .the-category a {
        padding: 5px;
        font-size: 12px;
        margin-right: 5px;
        margin-top: 5px;
    }

    .post-footer .post-footer-right .post-like .like-button {
        line-height: 26px;
        width: 26px;
        height: 27px;
        font-size: 15px;
    }

    .post-footer .view-all-content .view-all {
        line-height: 25px;
        width: 26px;
        font-size: 18px;
    }

    .post-comment .comment-item .comment__avatar {
        width: 10%;
    }

    .post-comment .comment-item .comment__data {
        width: 90%;
        padding-left: 5px;
    }

    .post-comment .comment__input {
        padding-left: 5px;
    }

    .load-posts {
        margin-bottom: 15px;
    }

    .load-posts a {
        font-size: 13px;
        line-height: 35px;
        padding: 0 20px;
    }

    .social-profile-icons ul li {
        margin: 0px 5px 10px 8px !important;
    }
}